.teaching-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background: url("../assets/images/bg1.png") center/cover no-repeat fixed;
  overflow: hidden;
}

.teaching-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 25, 50, 0.7);
  backdrop-filter: blur(3px);
  z-index: 0;
}

.teaching-container {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1100px;
}

.teaching-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #d4a056;
  margin-bottom: 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.accordion-item {
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 18px;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-item:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.12);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s ease;
}

.accordion-header:hover {
  color: #d4a056;
}

.accordion-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.icon {
  font-size: 1.3rem;
  color: #d4a056;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 0 25px 18px 25px;
  color: #f5f5f5;
  font-size: 0.95rem;
  line-height: 1.6;
  white-space: pre-line;
}
.gold-text {
  color: #d4a056;
  font-weight: 500;
}
.accordion-content p {
  margin-bottom: 12px; 
  font-size: 16px;
}
@media (max-width: 992px) {
  .teaching-heading {
    font-size: 1.8rem;
  }

  .accordion-header {
    font-size: 1rem;
    padding: 15px 20px;
  }

  .accordion-content {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .teaching-section {
    padding: 60px 15px;
  }

  .teaching-heading {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .accordion-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}